.container {
    display: inline-grid;
    grid-template-columns:  5rem repeat(7, 1fr);
    
}

.container * {
    margin: 0px;
}

/* Weekday */

.weekdayHeaders {
    font-weight: 700;
}

/* Time */

.timeOfDay {
    text-align: right;
    font-style: italic;
}

.eventList {
    border: 1px pink solid;
}

.eventBlue {
    color: white;
    background-color: lightblue;
}

.eventGreen {
    color: white;
    background-color: green;
}

.eventPink {
    color: white;
    background-color: pink;
}

.close {
    position: absolute;
    right: 32px;
    /* top: 32px; */
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
  }
.close:hover {
    opacity: 1;
    }
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
    }
.close:before {
    transform: rotate(45deg);
    }
.close:after {
    transform: rotate(-45deg);
    }
  