.calendarApp h1 {
    text-align: center;
    color: #edeff4;
}

.container {
    display: grid;
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;
    grid-template-columns:  5rem repeat(7, 1fr);
    border: 1px black solid;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    color: #edeff4;
}

.container * {
    margin: 0px;
}

/* Event Form */

.lightboxContainer {
    display: none;
}

.lightboxBg {
    background-color: rgba(7, 6, 6, 0.5);
    backdrop-filter: blur(1px);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 5;
    cursor: pointer;
}

.calendarInput {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.15);
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    padding: 2rem;
    box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.474);
    border-radius: 15px;
}

.calendarInput label {
    color: #edeff4;
}

.exit {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    right: 0px;
    }

.exit:after {
    position: fixed;
    content: "\d7";
    font-size: 50px;
    color: #fff;
    line-height: 100px;
    text-align: center;
    z-index: 50;
    cursor: pointer;
    opacity: .3;
}

.exit:hover::after {
    opacity: 1;
    }

/* ----- Calendar Start ----- */

.newEventButton {
    cursor: pointer;
    background-color: none;
    color: #edeff4;
    border: 2px solid #edeff4;
    box-sizing: border-box;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    font-weight: 600;
    padding: .1rem;
    vertical-align: center;
}

.timeOfDay {
    text-align: center;
    font-style: italic;
    box-sizing: border-box;
    border-right: 2px rgba(0, 0, 0, 0) solid;
    margin-right: .8rem;
    padding: .5rem .01rem;
}

.weekdayHeaders {
    font-weight: 700;
    box-sizing: border-box;
    border-bottom: 2px rgba(0, 0, 0, 0) solid;
    margin-bottom: .8rem;
    padding: .5rem .7rem;
}

.blankGridBlock {
    cursor: pointer;
}

.blankGridBlock:hover {
    background-color: rgba(251, 251, 251, 0.1);
    border-radius: 5px;
}

/* Events container */

.calendarUserEvents {
    cursor: pointer;
    margin: .1rem;
}

.calendarUserEvents p {
    border-radius: 5px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    color: white;
    padding: .1rem;

}

/* blue */

.eventBlue {
    background-color: lightskyblue;
    border: 4px lightskyblue solid;
}

.eventBlue:hover {
    border: 4px blue solid;
}

/* green */

.eventGreen {
    background-color: green;
    border: 4px green solid;
}

.eventGreen:hover {
    border: 4px darkgreen solid;
}

/* pink */

.eventPink {
    background-color: pink;
    border: 4px pink solid;

}

.eventPink:hover {
    border: 4px darkviolet solid;
}

/* yellow */

.eventYellow {
    background-color: yellow;
    border: 4px yellow solid;
    color: darkgray !important;

}

.eventYellow:hover {
    border: 4px darkkhaki solid;
}

/* ----- Calendar End ----- */

/* List */

.eventList {
    border: 1px pink solid;
}

.close {
    position: absolute;
    right: 32px;
    /* top: 32px; */
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
  }
.close:hover {
    opacity: 1;
    }
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
    }
.close:before {
    transform: rotate(45deg);
    }
.close:after {
    transform: rotate(-45deg);
    }
  

/* ---------------Entire Calendar Background----------- */


.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #374b57 50%, #30414b 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
    }

.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
    }

.bg3 {
    animation-duration:5s;
    }

@keyframes slide {
0% {
    transform:translateX(-25%);
}
100% {
    transform:translateX(25%);
}
}

